
<!DOCTYPE html>
<html ng-app="app">
    <head>
        <% include ../inc/head %>
        
    </head>
    <body >

        <div class="body">
            
            <% include ../inc/header %>

            <% include ../inc/about-us %>

            <% include ../inc/footer %>
        </div>
        

        <% include ../inc/scripts %>

        
    </body>
</html>
