
<!DOCTYPE html>
<html ng-app="app">
    <head>
        
        <% include ../inc/head %>
    
    </head>
    <body >

        <div class="body">
            
            <% include ../inc/header %>
            
            <% include ../inc/loading %>

            <ng-view></ng-view>

            <% include ../inc/footer %>
        
        </div>

        <% include ../inc/scripts %>

        <!-- Load extra route -->
        <script src="/app/routers/<%= route%>.js"></script>

    </body>
</html>
