<div role="main" class="main">

    <section class="page-header page-header-light page-header-more-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1> About Us</h1>

                    <ul class="breadcrumb breadcrumb-valign-mid">
                                    <li><a href="/">Home</a></li>
                                    <li class="active">About Us</li>
                                </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

       

        <div class="row">
            <div class="col-md-12">
                <p class="lead">
                    CardSlyce is Based in New York City's Tech-Hub of Manhattan, our team of Trustworthy, Smart and Fun Sales and Customer service reps do their very best, every single day to satisfy each customers specific needs. we make it Safe, Secure, Easy and Enjoyable to BUY Discounted Gift Cards and save,Take your Slyce of the pie!
or SELL your unwanted Gift Cards and get paid top dollar, putting more money in your pocket to spend on the things you love 
</br>
</br>
-Sincerely, The CardSlyce Team
                </p>
            </div>
            
        </div>


    </div>

</div>