<div role="main" class="main">

    <section class="page-header page-header-light page-header-more-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1> Terms And Conditions </h1>

                    <ul class="breadcrumb breadcrumb-valign-mid">
                                    <li><a href="/">Home</a></li>
                                    <li class="active">Terms And Contidions</li>
                                </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 class="word-rotator-title">
								Purchase Guarantee Program 
							</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="lead">
                    We created the Purchase Guarantee Program for your peace of mind.

<hr>
<h4>CardSlyce Purchase Guarantee</h4>

CardSlyce is committed to making our customers happy by offering the highest level of service possible. If you are not satisfied with your CardSlyce purchase for any reason, you may return your unused gift card for a full refund*. If you purchase any gift card from CardSlyce, we guarantee it will be valid at the merchant and to the dollar amount specified on your order. We make such guarantees for up to 30 days from the date of your purchase, up to a maximum of $100 per customer.
* Return policy does not apply to electronic gift cards or mobile gift cards due to the nature of the program. The CardSlyce Purchase Guarantee is subject to the terms and conditions in our Terms and Agreements 
                </p>
            </div>
            
        </div>


    </div>

</div>