<div role="main" class="main">
    <section class="page-header page-header-light page-header-more-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1> {{storeName.replace('-',' ') | titlecase}} <span>Visit <a href="http://{{storeName}}.com" target="_blank">{{storeName}}.com</a></span></h1>
                    <ul class="breadcrumb breadcrumb-valign-mid">
                        <li><a href="/">Home</a></li>
                        <li><a href="/stores/#/">All stores</a></li>
                        <li class="active">{{storeName.replace('-',' ') | titlecase}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <aside class="sidebar">
                    <h4 class="heading-primary text-center">FILTER BY</h4>
                    <accordion close-others="oneAtATime" class="panel-group panel-group-primary">
                        <accordion-group heading="Card Value" is-open="true" is-disabled="status.isFirstDisabled">
                            </br>
                            <div style="padding-left: 10px;padding-right : 10px" slider ng-from="priceRange.from" ng-to="priceRange.to" start={{minPrice}} end={{maxPrice}}></div>
                            </br>
                            <h4 class="text-center">${{priceRange.from}} - ${{priceRange.to}} </h4>
                            <input type="hidden" ng-model='priceRange.from'>
                            <input type="hidden" ng-model='priceRange.to'>
                        </accordion-group>
                    </accordion>
                </aside>
            </div>
            <div class="col-md-9">
                <h2 style="margin-left : 15px">Available Cards ({{filteredCards.length}})</h2>


                <div class="row">
                    <div class="col-md-12">
                        <hr class="short">
                        <h2 style="margin-left : 15px" ng-show="filteredCards.length == 0">Sorry, there is no cards for this store</h2>
                        <table ng-show="filteredCards.length > 0" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Merchant
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Value
                                    </th>
                                    <th>
                                        You Pay
                                    </th>
                                    <th>
                                        You Save
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="card in filteredCards = (cards | cardvalue:priceRange.from:priceRange.to) track by $index">
                                    <td style="vertical-align: middle">
                                        <img class="card_{{card.id}}" height="30px" ng-src="/img/cards/{{card.name}}.jpg" alt=""> {{card.name | storename | titlecase}}
                                    </td>
                                    <td>
                                        {{card.type}}
                                    </td>
                                    <td>
                                        ${{card.value}}
                                    </td>
                                    <td>
                                        ${{card.pay | number:2}}
                                    </td>
                                    <td>
                                        {{card.save | number:2}}%
                                    </td>
                                    <td>
                                        <a ng-show="!card.isAdded" class="btn btn-primary pull-right" ng-click="addToCart(card,$index)"> Add to Cart</a>

                                        <a ng-show="card.isAdded" disabled class="btn btn-primary pull-right" style="color : white" > <i class="fa fa-check"></i>Added</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="alert alert-info">Prices may change at any time, without notice</div>
                <hr class="tall">
            </div>
        </div>
    </div>
</div>
