<div role="main" class="main shop">
    <section class="page-header page-header-light page-header-more-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1> Checkout</h1>
                    <ul class="breadcrumb breadcrumb-valign-mid">
                        <li><a href="/">Home</a></li>
                        <li class="active">Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <form role="form" ng-submit="placeOrder()">
            <div class="col-md-9">
                <div class="row">
                    <accordion close-others="oneAtATime" class="panel-group panel-group-primary">
                        <accordion-group heading="Billing Address" is-open="true" is-disabled="status.isFirstDisabled">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label>Username</label>
                                        <input ng-model="user.username" type="text" value="" class="form-control" ng-required="true">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Email</label>
                                        <input ng-model="user.email" type="email" value="" class="form-control" ng-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label>First Name</label>
                                        <input ng-model="user.first_name" type="text" value="" class="form-control" ng-required="true">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Last Name</label>
                                        <input ng-model="user.last_name" type="text" value="" class="form-control" ng-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label>Address</label>
                                        <input ng-model="user.address" type="text" value="" class="form-control" ng-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label>City </label>
                                        <input ng-model="user.city" type="text" value="" class="form-control" ng-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label>State </label>
                                        <input ng-model="user.state" type="text" value="" class="form-control" ng-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label>Zipcode </label>
                                        <input ng-model="user.zipcode" type="text" value="" class="form-control" ng-required="true">
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                        <accordion-group heading="Merchant Info & Payment" is-open="true">
                            <table class="shop_table cart">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">
                                            &nbsp;
                                        </th>
                                        <th class="product-name" style="width : 30%">
                                            Merchant
                                        </th>
                                        <th class="product-price">
                                            Card Value
                                        </th>
                                        <th class="product-quantity">
                                            Qty
                                        </th>
                                        <th class="product-quantity">
                                            Total
                                        </th>
                                        <th class="product-subtotal">
                                            Discount
                                        </th>
                                        <th class="product-subtotal">
                                            Selling Price
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart_table_item" ng-repeat="card in selectedCards track by $index">
                                        <td class="product-thumbnail">
                                            <a href="shop-product-sidebar.html">
                                                <img width="100" height="100" alt="" class="img-responsive" src="/img/cards/{{card.name}}.jpg">
                                            </a>
                                        </td>
                                        <td class="product-name" style="width : 30%">
                                            <a href="shop-product-sidebar.html">{{card.name | storename | titlecase}}</a>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">${{card.value}}</span>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">1</span>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">${{card.value}}</span>
                                        </td>
                                        <td class="product-quantity">
                                            <span class="amount">{{card.pay/card.value*100 | number: 2}}%</span>
                                        </td>
                                        <td class="product-subtotal">
                                            <span class="amount">${{card.pay | number:2}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr class="tall">
                            <h4 class="heading-primary">Cart Totals</h4>
                            <table class="cart-totals">
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th>
                                            <strong>Total Face Value</strong>
                                        </th>
                                        <td>
                                            <strong><span class="amount">${{totalFaceValue | number:2}}</span></strong>
                                        </td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>
                                            <strong>Total Cards In Shipment</strong>
                                        </th>
                                        <td>
                                            <strong><span class="amount">{{selectedCards.length}}</span></strong>
                                        </td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>
                                            <strong>Total Discount Saved</strong>
                                        </th>
                                        <td>
                                            <strong><span class="amount">{{averagePercentage | number : 2}}%</span></strong>
                                        </td>
                                    </tr>
                                    <tr class="shipping">
                                        <th>
                                            Shipping
                                        </th>
                                        <td>
                                            Free Shipping
                                            <input type="hidden" value="free_shipping" id="shipping_method" name="shipping_method">
                                        </td>
                                    </tr>
                                    <tr class="total">
                                        <th>
                                            <strong>Total</strong>
                                        </th>
                                        <td>
                                            <strong><span class="amount">${{total | number:2}}</span></strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr class="tall">
                            <h4 class="heading-primary">Payment</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="remember-box checkbox">
                                                            <label>
                                                                <input type="checkbox" checked="checked">Direct Bank Transfer
                                                            </label>
                                                        </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="remember-box checkbox">
                                                            <label>
                                                                <input type="checkbox">Paypal
                                                            </label>
                                                        </span>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                    <div>
                        <input type="checkbox" ng-model="agreed" ng-required='true'> I hereby certify I have read <a href="/terms-and-conditions">terms and conditions</a>  and agree 
                    </div>

                    <div class="actions-continue">

                        <input type="submit" value="Place Order" name="proceed" class="btn btn-lg btn-primary mt-xl">
                    </div>
                </div>
                
            </div>
            <div class="col-md-3">
                    <h4 class="heading-primary">Cart Totals</h4>
                    <table class="cart-totals">
                        <tbody>
                            <tr class="cart-subtotal">
                                <th>
                                    <strong>Cart Subtotal</strong>
                                </th>
                                <td>
                                    <strong><span class="amount">${{total | number:2}}</span></strong>
                                </td>
                            </tr>
                            <tr class="shipping">
                                <th>
                                    Shipping
                                </th>
                                <td>
                                    Free Shipping
                                    <input type="hidden" value="free_shipping" id="shipping_method" name="shipping_method">
                                </td>
                            </tr>
                            <tr class="total">
                                <th>
                                    <strong>Order Total</strong>
                                </th>
                                <td>
                                    <strong><span class="amount">${{total | number:2}}</span></strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </form>
    </div>
</div>
