<div role="main" class="main">

    <section class="page-header page-header-light page-header-more-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1> Register <span>Become a member of the website</span></h1>

                    <ul class="breadcrumb breadcrumb-valign-mid">
                                    <li><a href="/">Home</a></li>
                                    <li class="active">Register</li>
                                </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <div class="featured-boxes">
                    <div class="row">
                        

                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <div class="featured-box featured-box-primary align-left mt-xlg" style="height: 400px;">
                                <div class="box-content">
                                    <h4 class="heading-primary text-uppercase mb-md">Register An Account</h4>
                                    <form  id="frmSignUp" method="post" ng-submit="signUp()">
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>E-mail Address</label>
                                                    <input ng-model="user.email" type="email" value="" class="form-control input-lg">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <label>Username</label>
                                                    <input  ng-model="user.username" type="text" value="" class="form-control input-lg">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <label>Password</label>
                                                    <input  ng-model="user.password" type="password" value="" class="form-control input-lg">
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Re-enter Password</label>
                                                    <input  ng-model="user.password2" type="password" value="" class="form-control input-lg">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="submit" value="Register" class="btn btn-primary pull-right mb-xl" data-loading-text="Loading...">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                         <div class="col-sm-3"></div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>