<div role="main" class="main">
    <section class="page-header page-header-light page-header-more-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1> Order Review <span>Please take a final look before you pay</span></h1>
                    <ul class="breadcrumb breadcrumb-valign-mid">
                        <li><a href="/">Home</a></li>
                        <li><a href="/checkout/#/">Checkout</a></li>
                        <li class="active">Review Order</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h2 class="text-center"><strong>CARD ORDER</strong></h2>
                <hr class="solid">
                <h4 class="heading-primary"> <strong>User Info</strong></h4>
                <ul class="list ">
                    <li><strong>Username:</strong> {{order.billingUser.username}}</li>
                    <li><strong>Email:</strong> {{order.billingUser.email}}</li>
                </ul>
                <hr>
                <h4 class="heading-primary"> <strong>Billing Address</strong></h4>
                <ul class="list  mt-xlg">
                    <li><strong>Address:</strong> {{ (order.billingUser.address ? order.billingUser.address : 'NOT SET')}}</li>
                    <li><strong>City</strong> {{ (order.billingUser.city ? order.billingUser.city : 'NOT SET')}}</li>
                    <li><strong>State:</strong> {{ (order.billingUser.state ? order.billingUser.state : 'NOT SET')}}</li>
                    <li><strong>Zipcode:</strong> {{ (order.billingUser.zipcode ? order.billingUser.zipcode : 'NOT SET')}}</li>
                </ul>
                <hr>
                <h4 class="heading-primary"><strong>Credit Cards  Info</strong></h4>
                <form name="paymentForm">
                    <div class="media">
                        <div class="media-left" style="vertical-align : middle">
                            <a>
                                <img width="100px" class="media-object" ng-src="/img/credit-cards/{{paymentForm.cardNumber.$ccEagerType| lowercase}}.png" src='/img/credit-cards/undefined.png'>
                                <input type="hidden" ng-model="order.billingUser.card_number" name="cardNumber" cc-number cc-eager-type />
                            </a>
                        </div>
                        <div class="media-body">
                            <ul class="list list-icons list-icons-style-3 mt-xlg">
                                <li><strong>Cardholder's Name:</strong> {{ (order.billingUser.card_name ? order.billingUser.card_name : 'NOT SET')}}</li>
                                <li>
                                    <strong>Card Number:</strong> {{order.billingUser.card_number | hiddenCC}}
                                </li>
                                <li><strong>Card CVC:</strong> {{ (order.billingUser.card_cvc ? order.billingUser.card_cvc : 'NOT SET')}}</li>
                                <li><strong>Expiration Date:</strong> {{ (order.billingUser.card_exp_month ? order.billingUser.card_exp_month : 'NOT SET')}} / {{ (order.billingUser.card_exp_year ? order.billingUser.card_exp_year : 'NOT SET')}}</li>
                            </ul>
                        </div>
                    </div>
                </form>
                <hr>
                <h4 class="heading-primary"> <strong>Cards review</strong></h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>
                                Merchant
                            </th>
                            <th>
                                Card Value
                            </th>
                            <th>
                                Qty
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Discount
                            </th>
                            <th>
                                Sell Price
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="card in order.cards track by $index">
                            <td style="vertical-align: middle">
                                <img height="30px" ng-src="/img/cards/{{card.name}}.jpg" alt="">
                            </td>
                            <td>
                                {{card.name | storename | titlecase}}
                            </td>
                            <td>
                                ${{card.value}}
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                ${{card.value}}
                            </td>
                            <td>
                                {{100 - card.pay/card.value*100 | number : 2}}%
                            </td>
                            <td>
                                ${{card.pay | number:2}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <h4 class="heading-primary"> <strong>Cart totals</strong></h4>
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong>Total Face Value  </strong>
                            </td>
                            <td>
                                ${{totalFaceValue | number : 2}}
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong>Total Cards In Shipment  </strong>
                            </td>
                            <td>
                                {{order.cards.length}}
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong> Total Discount Saved </strong>
                            </td>
                            <td>
                                {{averagePercentage | number : 2}}%
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong>Shipping </strong>
                            </td>
                            <td>
                                Free Shipping
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong>Payment </strong>
                            </td>
                            <td>
                                {{(order.payment === 'ach') ? 'ACH' : 'CC Terminal'}}
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong>Total   </strong>
                            </td>
                            <td>
                                <h4 style="color : #08C">${{total | number:2}}</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a ng-show="isPaid" class="btn btn-primary btn-lg pull-right" style="position : relative">
                    <div class="loading-overlay" style="visibility : visible; z-index: 99999; opacity : 1; position : fixed">
                        <div class="loader"></div>
                        <!-- <div style="left: 50%;top: 60%;position: absolute;margin-left: -250px;color: #22A7CF;font-size: 14px;">This may take a moment, please do not leave or refresh the page while loading</div> -->
                    </div>Submitting...</a>
                <a ng-show="!isPaid" ng-click='pay()' class="btn btn-primary btn-lg pull-right">Place order</a>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>
