<section role="main" class="content-body">
   <header class="page-header">
      <h2>All Available Dealers</h2>
   
      <div class="right-wrapper pull-right">
         <ol class="breadcrumbs">
            <li>
               <a href="index.html">
                  <i class="fa fa-home"></i>
               </a>
            </li>
            <li><span>Customers</span></li>
            <li><span>Dealers</span></li>
         </ol>
   
         <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
      </div>
   </header>

   <!-- start: page -->
      <section class="panel">
         <header class="panel-heading">
            
      
            <h2 class="panel-title">Dealers Information</h2>
         </header>
         <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-default" style="cursor:pointer">
               <thead>
                  <tr>
                     <th>Id</th>
                     <th>First Name</th>
                     <th>Last Name</th>
                     <th>Email</th>
                     <th>Address</th>
                     <th>City</th>
                     <th>State</th>
                     <th>Business Name</th>
                     <th>Business Address</th>
                     <th>Date Joined</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="dealer in dealers track by $index" ng-click="dealerDeatail(dealer.id)">
                     <td>{{dealer.id}}</td>
                     <td>{{dealer.first_name}} </td>
                     <td>{{dealer.last_name}}  </td>
                     <td>{{dealer.email}} </td>
                     <td>{{dealer.address}} </td>
                     <td>{{dealer.city}} </td>
                     <td>{{dealer.state}} </td>
                     <td>{{dealer.business_name}} </td>
                     <td>{{dealer.business_address}} </td>
                     <td>{{dealer.created_date | date: 'MM/dd/yyyy'}} </td>
                  </tr>
                  
                  
               </tbody>
            </table>
         </div>
      </section>
      
      
   <!-- end: page -->
</section>