<section role="main" class="content-body">
   <header class="page-header">
      <h2>All Available Orders</h2>
   
      <div class="right-wrapper pull-right">
         <ol class="breadcrumbs">
            <li>
               <a href="index.html">
                  <i class="fa fa-home"></i>
               </a>
            </li>
            <li><span>Cards</span></li>
            <li><span>Orders</span></li>
         </ol>
   
         <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
      </div>
   </header>

   <!-- start: page -->
      <section class="panel">
         <header class="panel-heading">
            
      
            <h2 class="panel-title">Orders Information</h2>
         </header>
         <div class="panel-body">
            <table class="table table-bordered  table-hover  table-striped mb-none" id="datatable-default">
               <thead>
                  <tr> 
                     <th></th>
                     <th>Total Cards</th>
                     <th>Total Face Value</th>
                     <th>Total Amount</th>
                     <th>Average Discount</th>
                     <th>User Name</th>
                     <th>User Type</th>
                     <th>Datetime</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="order in orders track by $index" style="cursor : pointer" ng-click="goToOrderDetail(order.id)">
                     <td>{{order.id}}</td>
                     <td class="center">{{order.total_cards}} </td>
                     <td>${{order.total_face_value | number:2}}  </td>
                     <td>${{order.total_amount}} </td>
                     <td>{{order.average_percentage | number:2}}% </td>
                     <td ng-switch on="order.billingUser.role">
                        <a ng-switch-when="User" href="{{order.billingUser | dashboardProfile}}">{{order.billingUser | fullname}} </a>

                      
                        <span ng-switch-when="Guest">{{order.billingUser | fullname}} </span>
                     </td>
                     <td> <span class="label {{order.billingUser.className}}">{{order.billingUser.role}}</span></td>
                     <td>{{order.created_date | date: 'MM/dd/yyyy'}} </td>
                  </tr>
                  
                  
               </tbody>
            </table>
         </div>
      </section>
      
      
   <!-- end: page -->
</section>