<section role="main" class="content-body">
   <header class="page-header">
      <h2>All Purchased Cards</h2>
   
      <div class="right-wrapper pull-right">
         <ol class="breadcrumbs">
            <li>
               <a href="index.html">
                  <i class="fa fa-home"></i>
               </a>
            </li>
            <li><span>Cards</span></li>
            <li><span>Purchased Cards</span></li>
         </ol>
   
         <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
      </div>
   </header>

   <!-- start: page -->
      <section class="panel">
         <header class="panel-heading">
            
      
            <h2 class="panel-title">Purchased Cards Information</h2>
         </header>
         <div class="panel-body">
            <table class="table table-bordered table-hover table-striped mb-none" id="datatable-default">
               <thead>
                  <tr> 
                     <th></th>
                     <th>Number Of Cards</th>
                     <th>Total Face Value</th>
                     <th>Total Amount</th>
                     <th>Average Payout</th>
                     <th>Total Stores</th>
                     <th>User Name</th>
                     <th>User Type</th>
                     <th>Retailers</th>
                     <th>Payment</th>
                     <th>Datetime</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="receipt in receipts track by $index"  style="cursor : pointer" ng-click="receiptDetail(receipt.id)">
                     <td>{{receipt.id}}</td>
                     
                     <td class="center">{{receipt.total_cards}}  </td>
                     <td>${{receipt.total_face_value| number:2}} </td>
                     <td>${{receipt.total_amount| number:2}} </td>
                     <td>{{receipt.average_payout| number:2}}% </td>
                  
                     <td class="center">{{receipt.store_list.split(',').length}} </td>

                     <td ng-switch on="receipt.billingUser.role">
                        <a ng-switch-when="User" href="{{receipt.billingUser | dashboardProfile}}">{{receipt.billingUser | fullname}} </a>

                        <a ng-switch-when="Dealer" href="{{receipt.billingUser | dashboardDealerProfile}}">{{receipt.billingUser | fullname}} </a>

                      
                        <span ng-switch-when="Guest">{{receipt.billingUser | fullname}} </span>
                     </td>

                     <td> <span class="label {{receipt.billingUser.className}}">{{receipt.billingUser.role}}</span></td>
                     <td>
                        
                        <ul>
                           <li ng-repeat="retailer in receipt.store_list.split(',')">
                              {{retailer | storename | titlecase}}
                           </li>
                        </ul>
                     </td>
                     <td>
                        <span class="label label-info">{{(receipt.payment === 'online') ? 'Online' : 'Mail'}}</span>
                        
                     </td>
                     <td>{{receipt.created_date | date: 'MM/dd/yyyy'}} </td>
                  </tr>
                  
                  
               </tbody>
            </table>
         </div>
      </section>
      
      
   <!-- end: page -->
</section>