<section role="main" class="content-body">
   <header class="page-header">
      <h2>All Available Retailers </h2>
   
      <div class="right-wrapper pull-right">
         <ol class="breadcrumbs">
            <li>
               <a href="index.html">
                  <i class="fa fa-home"></i>
               </a>
            </li>
            <li><span>Retailers Limit</span></li>
         </ol>
   
         <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
      </div>
   </header>

   <!-- start: page -->
      <section class="panel">
         <header class="panel-heading">
            
      
            <h2 class="panel-title">Retailers Table</h2>
         </header>

         <div class="panel-body">
            

            <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-6">
                  <table class="table " >
                     
                     <tbody>
                        <tr > 
                           <th class="danger" style="border-top : none"><div ></div></th>
                           <th  style="border-top : none">Store has a stop-loss</th>
                        </tr>
                        <tr>
                           <th style="border-top : none"></th>
                           <th style="border-top : none"></th>
                        </tr>
                        <tr > 
                           <th class="success" style="border-top : none"><div ></div></th>
                           <th  style="border-top : none">Store is full</th>
                        </tr>
                     </tbody>
                  </table>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-6">
                  
               </div>
            </div>
         </div>
         <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-default">
               <thead>
                  <tr> 
                     <th>ID</th>
                     <th>Logo</th>
                     <th>Name</th>
                     <th>Limit</th>
                     <th>Inventory</th>
                     <th>Retailer ID</th>
                     <th>Actions</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="retailer in retailers track by $index" class="{{(retailer.limit === retailer.inventory) ? 'success'  :''}} {{(retailer.stop_loss == 1) ? 'danger' : ''}}">
                     <td  class="actions">{{retailer.id}}</td>
                     <td  class="actions">
                        <a href="/dashboard/#/inventory/{{retailer.id}}">
                           <img height="50px" ng-src="/img/cards/{{retailer.name}}.jpg"></a>
                     </td>
                     <td class="actions">{{retailer.name | storename | titlecase}} </td>
                     <td style="vertical-align : middle">{{retailer.limit}} </td>
                     <td class="actions">{{retailer.inventory}}</td>
                     <td style="vertical-align : middle"> 

                        {{(retailer.retailer_id == null) ? '' : retailer.retailer_id}}
                        <div class="label label-danger">{{(retailer.retailer_id !== null) ? '' : 'NULL'}}</div>
                     </td>
                     <td class="actions">
                        <a  class="hidden on-editing save-row">
                           <i class="fa fa-save"></i>
                        </a>
                        <a  class="hidden on-editing cancel-row">
                           <i class="fa fa-times"></i>
                        </a>
                        <a  class="on-default edit-row">
                           <i class="fa fa-pencil"></i>
                        </a>
                        
                     </td>
                  </tr>
                  
                  
               </tbody>
            </table>
         </div>
      </section>
      
      
   <!-- end: page -->
</section>