<section role="main" class="content-body">
   <header class="page-header">
      <h2>All Sold Cards</h2>
   
      <div class="right-wrapper pull-right">
         <ol class="breadcrumbs">
            <li>
               <a href="index.html">
                  <i class="fa fa-home"></i>
               </a>
            </li>
            <li><span>Cards</span></li>
            <li><span>Sold Cards</span></li>
         </ol>
   
         <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
      </div>
   </header>

   <!-- start: page -->
      <section class="panel">
         <header class="panel-heading">
            
      
            <h2 class="panel-title">Sold Cards Information</h2>
         </header>
         <div class="panel-body">
            <table class="table table-bordered table-striped mb-none" id="datatable-default">
               <thead>
                  <tr> 
                     <th></th>
                     <th></th>
                     <th>Merchant</th>
                     <th>Offer</th>
                     
                     <th>Selling Price</th>
               
                     <th>Profit</th>
                     <th>Payout</th>
                     <th>Discount</th>

                     <th>Spread</th>

                     <th>Number</th>
                     <th>Pin</th>
                     <th>Dealer Code</th>
                     
                     <th>Receipts</th>
                     <th>Orders</th>
                     
                     <th>Date Joined</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="card in cards track by $index">
                     <td>{{card.id}}</td>
                     <td><img height="50px" ng-src="/img/cards/{{card.store_name}}.jpg"></td>

                     <!-- MERCHANT NAME -->
                     <td>{{card.store_name | storename | titlecase}} (${{card.value}}) </td>

                     <!-- OFFER -->
                     <td>${{card.gogo_buy * card.value / 100 | number:2}} </td>
                     
                     <!-- SELLING PRICE -->
                     <td>${{card.purchase.pay}}</td>
                     
                     <!-- PROFIT -->
                     <td>${{card.purchase.pay - card.gogo_buy * card.value / 100  | number:2}}</td>
                     
                     <!-- PAYOUT -->
                     <td>{{card.gogo_buy | number:2}}%</td>

                     <!-- DISCOUNT -->
                     <td>{{card.purchase.save | number:2}}%</td>

                     <!-- SPREAD -->
                     <td>{{card.spread | number:2}}%</td>

                     <td>{{card.number}}  </td>
                     <td>{{card.pin}} </td>
                     <td>{{card.dealer_code}} </td>
                     
                     <td class="center"> 
                        <a href="/dashboard/#/receipts/{{card.receipt_id}}">
                           #{{card.receipt_id}}
                        </a> 
                     </td>

                     <td class="center"> 
                        <a href="/dashboard/#/orders/{{card.order_id}}">
                           #{{card.order_id}}
                        </a> 
                     </td>
                     
                     
                     <td>{{card.created_date | date: 'MM/dd/yyyy'}} </td>
                  </tr>
                  
                  
               </tbody>
            </table>
         </div>
      </section>
      
      
   <!-- end: page -->
</section>