<div role="main" class="main">

    <section class="page-header page-header-light page-header-more-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1> Sold Cards History 
                        <span>
                            <a href="/profile/#/">Profile</a> |
                            <a href="/profile/#/edit">Edit</a> | 
                            <a href="/profile/#/orders"  >Orders History</a> |
                            <a href="/profile/#/sold-cards-history" class="text-muted" >Sold Cards History</a> 
                        </span>
                    </h1>

                    <ul class="breadcrumb breadcrumb-valign-mid">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/profile/#/">Profile</a></li>
                                    <li class="active">Sold Cards History</li>
                                </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">

            <div class="col-md-2">
            </div>
            
            <div class="col-md-8">

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                No.
                            </th>
                            <th>
                                Total Face Value
                            </th>
                            <th>
                                Average Percentage
                            </th>
                            <th>
                                Total Amount
                            </th>
                            <th>
                                #Cards
                            </th>
                            <th>
                                Selling Date
                            </th>
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="soldCards in soldCardsList track by $index" ng-click="soldCardsDetail(soldCards.id)" style="cursor : pointer">
                            <td style="vertical-align: middle">
                                {{$index + 1}}  
                            </td>
                            <td>
                                ${{soldCards.total_face_value | number:2}}
                            </td>
                            <td>
                                ${{soldCards.average_percentage | number:2}}
                            </td>
                            <td>
                                ${{soldCards.total_amount | number:2}}
                            </td>
                            <td>
                                {{soldCards.total_cards}}
                            </td>
                            <td>
                                {{soldCards.created_date | date: 'MM/dd/yyyy h:mma' }}
                            </td>
                           
                            
                        </tr>
                        
                    </tbody>
                </table>
   
            </div>

            <div class="col-md-2">
            </div>
        </div>
      
    </div>

    

</div>