<div role="main" class="main">
    <section class="page-header page-header-light page-header-more-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1> Order Review <span>Please take a final look before you sell the cards and receive payment</span></h1>
                    <ul class="breadcrumb breadcrumb-valign-mid">
                        <li><a href="/">Home</a></li>
                        <li><a href="/sell-cards/#/">Get Offer</a></li>
                        <li><a href="/sell-cards/#/card-info">Card Info</a></li>
                        <li class="active">Customer Info</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-12 col-xs-12 col-lg-2">
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 col-lg-8 text-center">
                <ol class="breadcrumb offer">
                    <li>
                        <div class="thumbnail sell-cards-thumb">
                            <p style="margin-bottom : 5px">
                                <i class="fa fa-check fa-3x sell-cards-step-icon"></i></p>
                            <div class="caption offer">
                                <p class="sell-cards-step-txt">1.Get Offer</p>
                            </div>
                        </div>
                    </li>
                    <li class="offer ">
                        <div class="thumbnail sell-cards-thumb">
                            <p style="margin-bottom : 5px">
                                <i class="fa fa-ellipsis-h fa-3x sell-cards-step-dot"></i>
                                <i class="fa fa-ellipsis-h fa-3x sell-cards-step-dot"></i>
                            </p>
                            <div class="caption offer">
                                <p class="sell-cards-step-txt">&nbsp;</p>
                            </div>
                        </div>
                    </li class="">
                    <li class="offer">
                        <div class="thumbnail sell-cards-thumb">
                            <p style="margin-bottom : 5px">
                                <i class="fa fa-check fa-3x sell-cards-step-icon"></i></p>
                            <div class="caption offer">
                                <p class="sell-cards-step-txt">2.Card Info</p>
                            </div>
                        </div>
                    </li>
                    <li class="offer ">
                        <div class="thumbnail sell-cards-thumb">
                            <p style="margin-bottom : 5px">
                                <i class="fa fa-ellipsis-h fa-3x sell-cards-step-dot"></i>
                                <i class="fa fa-ellipsis-h fa-3x sell-cards-step-dot"></i>
                            </p>
                            <div class="caption offer">
                                <p class="sell-cards-step-txt">&nbsp;</p>
                            </div>
                        </div>
                    </li>
                    <li class="offer " style="margin-left: -20px;">
                        <div class="thumbnail sell-cards-thumb">
                            <p style="margin-bottom : 5px">
                                <i class="fa fa-users fa-3x sell-cards-step-icon"></i></p>
                            <div class="caption offer">
                                <p class="sell-cards-step-txt">3.Customer Info</p>
                            </div>
                        </div>
                    </li>
                </ol </div>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12 col-lg-2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div ng-show="!isGuest" class="col-md-8">
                <h2 class="text-center"><strong>ALMOST DONE!</strong></h2>
                <hr class="solid">
                <h4 class="heading-primary"> <strong>Customer's Information</strong></h4>
                <ul class="list ">
                    <li><strong>Username:</strong> {{sellingCards.billingUser.username}}
                    </li>
                    <li><strong>Email:</strong> {{sellingCards.billingUser.email}}</li>
                </ul>
                <hr>
                <h4 class="heading-primary"> <strong>Customer's Address</strong></h4>
                <ul class="list  mt-xlg">
                    <li><strong>Address:</strong> {{ (sellingCards.billingUser.address ? sellingCards.billingUser.address : 'NOT SET')}}</li>
                    <li><strong>City</strong> {{ (sellingCards.billingUser.city ? sellingCards.billingUser.city : 'NOT SET')}}</li>
                    <li><strong>State:</strong> {{ (sellingCards.billingUser.state ? sellingCards.billingUser.state : 'NOT SET')}}</li>
                    <li><strong>Zipcode:</strong> {{ (sellingCards.billingUser.zipcode ? order.billingUser.zipcode : 'NOT SET')}}</li>
                </ul>
                <hr>
                <h4 class="heading-primary"><strong>Credit Cards  Info</strong></h4>
                <div class="alert alert-primary"> We will pre authorize the credit card 1$ to make sure your cards are valid. </div>
                <div ng-show='{{emptyCC}}' class="alert alert-secondary"><strong>Alert!</strong> Please update your credit in the profile. </div>
                <form name="paymentForm">
                    <div class="media">
                        <div class="media-left" style="vertical-align : middle">
                            <a>
                                <img width="100px" class="media-object" ng-src="/img/credit-cards/{{paymentForm.cardNumber.$ccEagerType| lowercase}}.png" src='/img/credit-cards/undefined.png'>
                                <input type="hidden" ng-model="sellingCards.billingUser.card_number" name="cardNumber" cc-number cc-eager-type />
                            </a>
                        </div>
                        <div class="media-body">
                            <ul class="list list-icons list-icons-style-3 mt-xlg">
                                <li><strong>Cardholder's Name:</strong> {{ (sellingCards.billingUser.card_name ? sellingCards.billingUser.card_name : 'NOT SET')}}</li>
                                <li>
                                    <strong>Card Number:</strong> {{sellingCards.billingUser.card_number | hiddenCC}}
                                </li>
                                <li><strong>Card CVC:</strong> {{ (sellingCards.billingUser.card_cvc ? sellingCards.billingUser.card_cvc : 'NOT SET')}}</li>
                                <li><strong>Expiration Date:</strong> {{ (sellingCards.billingUser.card_exp_month ? sellingCards.billingUser.card_exp_month : 'NOT SET')}} / {{ (sellingCards.billingUser.card_exp_year ? sellingCards.billingUser.card_exp_year : 'NOT SET')}}</li>
                            </ul>
                        </div>
                    </div>
                </form>
                </br>
                <div ng-show="{{emptyCC}}" class="row">
                    <a href="/profile/#/" class="btn btn-lg btn-secondary pull-right">Go to Profile</a>
                </div>
                <hr>
                <h4 ng-show='hasValidCards' class="heading-primary"> <strong>Cards Review</strong></h4>
                <table ng-show='hasValidCards' class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                                Merchant
                            </th>
                            <th>
                                Card Number
                            </th>
                            <th>
                                Card Pin
                            </th>
                            <th ng-show="isDealer">
                                Card Dealer Code
                            </th>
                            <th>
                                Your Offer
                            </th>
                            <th>
                                Payout
                            </th>
                            <th>
                                Pay By
                            </th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="card in sellingCards.cards track by $index">
                            <td>{{$index + 1}}</td>
                            <td style="vertical-align: middle">
                                <img height="30px" ng-src="/img/cards/{{card.store_name}}.jpg" alt="">
                            </td>
                            <td>
                                {{card.store_name | storename | titlecase }} (${{card.value}})
                            </td>
                            <td>
                                {{card.number}}
                            </td>
                            <td>
                                {{card.pin}}
                            </td>
                            <td ng-show="isDealer">
                                {{card.dealer_code}}
                            </td>
                            <td>
                                ${{card.bought_value | number:2}}
                            </td>
                            <td>
                                {{card.payout | number:2}}%
                            </td>
                            <td>
                                {{card.pay_by | titlecase}}
                            </td>
                            <td>
                                <div class="label {{(card.status == 'ok') ? 'label-success' : 'label-danger'}}">{{card.status | titlecase}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- FOR PENDING CARDS -->
                <h4 ng-show='hasPendingCards' class="heading-primary"> <strong>Pending Cards Review</strong></h4>
                <div ng-show='hasPendingCards' class="alert alert-info" role="alert">Dont worry! Pending cards will become “OK” once balance is confirmed, you’re good to go!</div>
                <table ng-show='hasPendingCards' class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                                Merchant
                            </th>
                            <th>
                                Card Number
                            </th>
                            <th>
                                Card Pin
                            </th>
                            <th ng-show="isDealer">
                                Card Dealer Code
                            </th>
                            <th>
                                Your Offer
                            </th>
                            <th>
                                Payout
                            </th>
                            <th>
                                Pay By
                            </th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="card in pendingCards.cards track by $index">
                            <td>{{$index + 1}}</td>
                            <td style="vertical-align: middle">
                                <img height="30px" ng-src="/img/cards/{{card.store_name}}.jpg" alt="">
                            </td>
                            <td>
                                {{card.store_name | storename | titlecase }} (${{card.value}})
                            </td>
                            <td>
                                {{card.number}}
                            </td>
                            <td>
                                {{card.pin}}
                            </td>
                            <td ng-show="isDealer">
                                {{card.dealer_code}}
                            </td>
                            <td>
                                {{card.bought_value | number:2}}
                            </td>
                            <td>
                                {{card.payout | number:2}}%
                            </td>
                            <td>
                                {{card.pay_by | titlecase}}
                            </td>
                            <td>
                                <div class="label {{(card.status == 'ok') ? 'label-success' : 'label-danger'}}">{{card.status | titlecase}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- END OF PENDING CARDS -->
                <hr>
                <h4 ng-show='hasValidCards' class="heading-primary"> <strong>Total Cards</strong></h4>
                <table ng-show='hasValidCards' class="table">
                    <tbody>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong>Total Face Value  </strong>
                            </td>
                            <td>
                                ${{totalFaceValue | number : 2}}
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong>Total Cards For Sell  </strong>
                            </td>
                            <td>
                                {{sellingCards.cards.length}}
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong> Average Payout </strong>
                            </td>
                            <td>
                                {{averagePayout | number:2}}%
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong>Total Selling Price  </strong>
                            </td>
                            <td>
                                <h4 style="color : #08C">${{total | number:2}}</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4 ng-show='hasPendingCards' class="heading-primary"> <strong>Total Pending Cards</strong></h4>
                <table ng-show='hasPendingCards' class="table">
                    <tbody>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong>Total Pending Face Value  </strong>
                            </td>
                            <td>
                                ${{pendingTotalFaceValue | number : 2}}
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong>Total Cards For Sell  </strong>
                            </td>
                            <td>
                                {{pendingCards.cards.length}}
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong> Average Payout </strong>
                            </td>
                            <td>
                                {{pendingAveragePayout | number:2}}%
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong>Total Pending Selling Price  </strong>
                            </td>
                            <td>
                                <h4 style="color : #08C">${{pendingTotal | number:2}}</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a ng-show="isLoading" style="position : relative">
                        <div class="loading-overlay" style="visibility : visible; z-index: 99999; opacity : 1; position : fixed">
                            <div class="loader"></div>
                            <div style="left: 50%;top: 60%;position: absolute;margin-left: -250px;">This may take a moment, please do not leave or refresh the page while loading</div>
                        </div>
                    </a>
                <a ng-click='sellCards()' ng-show='{{(!emptyCC) && (!isLoading)}}' class="btn btn-primary btn-lg pull-right">Sell Cards</a>
            </div>
            <div ng-show="isGuest" class="col-md-8">
                <form role="form" ng-submit="sellCards(paymentForm)" name="paymentForm">
                    <h2 class="text-center"><strong>ALMOST DONE!</strong></h2>
                    <hr class="solid">
                    <h4 class="heading-primary"> <strong>Customer's Information</strong></h4>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>First Name</label>
                                <input ng-model="sellingCards.billingUser.first_name" type="text" value="" class="form-control" ng-required="true">
                            </div>
                            <div class="col-md-6">
                                <label>Last Name</label>
                                <input ng-model="sellingCards.billingUser.last_name" type="text" value="" class="form-control " ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Email</label>
                                <input ng-model="sellingCards.billingUser.email" type="email" value="" class="form-control" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Confirm Email</label>
                                <input ng-model="sellingCards.billingUser.email2" type="email" value="" class="form-control" ng-required="true">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h4 class="heading-primary"> <strong>Customer's Address</strong></h4>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Address</label>
                                <input ng-model="sellingCards.billingUser.address" type="text" value="" class="form-control" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Address 2</label>
                                <input ng-model="sellingCards.billingUser.address2" type="text" value="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>City</label>
                                <input ng-model="sellingCards.billingUser.city" type="text" value="" class="form-control" ng-required="true">
                            </div>
                            <div class="col-md-4">
                                <label>State</label>
                                <input ng-model="sellingCards.billingUser.state" type="text" value="" class="form-control" ng-required="true">
                            </div>
                            <div class="col-md-4">
                                <label>Zipcode</label>
                                <input ng-model="sellingCards.billingUser.zipcode" type="text" value="" class="form-control" ng-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Phone</label>
                                <input ng-model="sellingCards.billingUser.phone" type="text" value="" class="form-control" ng-required="true">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h4 class="heading-primary"> <strong>Credit Card Info</strong></h4>
                    <div class="alert alert-primary">To continue, please enter a valid credit card for security purposes. </div>
                    </br>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputSuccess">Cardholder's Name</label>
                        <div class="col-md-6">
                            <input ng-model="sellingCards.billingUser.card_name" class="form-control mb-md" type="text" placeholder="Cardholder's name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputSuccess">Card Number</label>
                        <div class="col-md-6">
                            <div class="media">
                                <div class="media-left">
                                    <a>
                                        <img ng-src="/img/credit-cards/{{paymentForm.cardNumber.$ccEagerType | lowercase}}.png" src='/img/credit-cards/undefined.png' class="pull-left" width="50px">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <input ng-model="sellingCards.billingUser.card_number" class="form-control mb-md" type="text" placeholder="Card number" name="cardNumber" cc-number cc-eager-type cc-type="cardType" ng-required="true" ng-value="string" ng-value="{{user.card_number | hiddenCC}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputSuccess">CVC</label>
                        <div class="col-md-2">
                            <input class="form-control" type="text" ng-model="sellingCards.billingUser.card_cvc" cc-cvc placeholder='CVC' ng-required="true" />
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="form-group" cc-exp>
                        <label class="col-md-3 control-label" for="inputSuccess">Expiration Date</label>
                        <div class="col-md-2">
                            <select class="form-control" name="expmon" ng-model="sellingCards.billingUser.card_exp_month" cc-exp-month ng-required="true">
                                <option value="1">January
                                </option>
                                <option value="2">February
                                </option>
                                <option value="3">March
                                </option>
                                <option value="4">April
                                </option>
                                <option value="5">May
                                </option>
                                <option value="6">June
                                </option>
                                <option value="7">July
                                </option>
                                <option value="8">August
                                </option>
                                <option value="9">September
                                </option>
                                <option value="10">October
                                </option>
                                <option value="11">November
                                </option>
                                <option value="12">December
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" name="expyear" ng-model="sellingCards.billingUser.card_exp_year" cc-exp-year ng-required="true">
                                </option>
                                <option value="15">2015
                                </option>
                                <option value="16">2016
                                </option>
                                <option value="17">2017
                                </option>
                                <option value="18">2018
                                </option>
                                <option value="19">2019
                                </option>
                                <option value="20">2020
                                </option>
                                <option value="21">2021
                                </option>
                                <option value="22">2022
                                </option>
                                <option value="23">2023
                                </option>
                                <option value="24">2024
                                </option>
                                <option value="25">2025
                                </option>
                                <option value="26">2026
                                </option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <h4 ng-show='hasValidCards' class="heading-primary"> <strong>Cards Review</strong></h4>
                    <table ng-show='hasValidCards' class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                    Merchant
                                </th>
                                <th>
                                    Card Number
                                </th>
                                <th>
                                    Card Pin
                                </th>
                                <th ng-show="isDealer">
                                    Card Dealer Code
                                </th>
                                <th>
                                    Your Offer
                                </th>
                                <th>
                                    Payout
                                </th>
                                <th>
                                    Pay By
                                </th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="card in sellingCards.cards track by $index">
                                <td>{{$index + 1}}</td>
                                <td style="vertical-align: middle">
                                    <img height="30px" ng-src="/img/cards/{{card.store_name}}.jpg" alt="">
                                </td>
                                <td>
                                    {{card.store_name | storename | titlecase }} (${{card.value}})
                                </td>
                                <td>
                                    {{card.number}}
                                </td>
                                <td>
                                    {{card.pin}}
                                </td>
                                <td ng-show="isDealer">
                                    {{card.dealer_code}}
                                </td>
                                <td>
                                    {{card.bought_value | number:2}}
                                </td>
                                <td>
                                    {{card.payout | number:2}}%
                                </td>
                                <td>
                                    {{card.pay_by | titlecase}}
                                </td>
                                <td>
                                    <div class="label {{(card.status == 'ok') ? 'label-success' : 'label-danger'}}">{{card.status | titlecase}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- FOR PENDING CARDS -->
                    <h4 ng-show='hasPendingCards' class="heading-primary"> <strong>Pending Cards Review</strong></h4>
                    <div ng-show='hasPendingCards' class="alert alert-info" role="alert">Dont worry! Pending cards will become “OK” once balance is confirmed, you’re good to go!</div>
                    <table ng-show='hasPendingCards' class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                    Merchant
                                </th>
                                <th>
                                    Card Number
                                </th>
                                <th>
                                    Card Pin
                                </th>
                                <th ng-show="isDealer">
                                    Card Dealer Code
                                </th>
                                <th>
                                    Your Offer
                                </th>
                                <th>
                                    Payout
                                </th>
                                <th>
                                    Pay By
                                </th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="card in pendingCards.cards track by $index">
                                <td>{{$index + 1}}</td>
                                <td style="vertical-align: middle">
                                    <img height="30px" ng-src="/img/cards/{{card.store_name}}.jpg" alt="">
                                </td>
                                <td>
                                    {{card.store_name | storename | titlecase }} (${{card.value}})
                                </td>
                                <td>
                                    {{card.number}}
                                </td>
                                <td>
                                    {{card.pin}}
                                </td>
                                <td ng-show="isDealer">
                                    {{card.dealer_code}}
                                </td>
                                <td>
                                    {{card.bought_value | number:2}}
                                </td>
                                <td>
                                    {{card.payout | number:2}}%
                                </td>
                                <td>
                                    {{card.pay_by | titlecase}}
                                </td>
                                <td>
                                    <div class="label {{(card.status == 'ok') ? 'label-success' : 'label-danger'}}">{{card.status | titlecase}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- END OF PENDING CARDS -->
                    <hr>
                    <h4 ng-show='hasValidCards' class="heading-primary"> <strong>Total Cards</strong></h4>
                    <table ng-show='hasValidCards' class="table">
                        <tbody>
                            <tr>
                                <td style="vertical-align: middle">
                                    <strong>Total Face Value  </strong>
                                </td>
                                <td>
                                    ${{totalFaceValue | number : 2}}
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle">
                                    <strong>Total Cards For Sell  </strong>
                                </td>
                                <td>
                                    {{sellingCards.cards.length}}
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle">
                                    <strong> Average Payout </strong>
                                </td>
                                <td>
                                    {{averagePayout | number:2}}%
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle">
                                    <strong>Total Selling Price  </strong>
                                </td>
                                <td>
                                    <h4 style="color : #08C">${{total | number:2}}</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 ng-show='hasPendingCards' class="heading-primary"> <strong>Total Pending Cards</strong></h4>
                    <table ng-show='hasPendingCards' class="table">
                        <tbody>
                            <tr>
                                <td style="vertical-align: middle">
                                    <strong>Total Pending Face Value  </strong>
                                </td>
                                <td>
                                    ${{pendingTotalFaceValue | number : 2}}
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle">
                                    <strong>Total Cards For Sell  </strong>
                                </td>
                                <td>
                                    {{pendingCards.cards.length}}
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle">
                                    <strong> Average Payout </strong>
                                </td>
                                <td>
                                    {{pendingAveragePayout | number:2}}%
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle">
                                    <strong>Total Pending Selling Price  </strong>
                                </td>
                                <td>
                                    <h4 style="color : #08C">${{pendingTotal | number:2}}</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <input type="checkbox" ng-model="agreed" ng-required='true'> I hereby certify I have read <a href="/terms-and-conditions">terms and conditions</a> and agree
                    </div>
                    <a ng-show="isLoading" style="position : relative">
                        <div class="loading-overlay" style="visibility : visible; z-index: 99999; opacity : 1; position : fixed">
                            <div class="loader"></div>

                            <div style="left: 50%;top: 60%;position: absolute;margin-left: -250px;">This may take a moment, please do not leave or refresh the page while loading</div>
                        </div>
                    </a>
                    <input ng-show="!isLoading" type="submit" class="btn btn-primary btn-lg pull-right" value="Sell Cards">
                </form>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>
