<div role="main" class="main">
    <section class="page-header page-header-light page-header-more-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1> Order Review <span>Please take a final look before you sell the cards and receive payment</span></h1>
                    <ul class="breadcrumb breadcrumb-valign-mid">
                        <li><a href="/">Home</a></li>
                        <li><a href="/sell-cards/#/">Get Offer</a></li>
                        <li><a href="/sell-cards/#/card-info">Card Info</a></li>
                        <li class="active">Customer Info</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-12 col-xs-12 col-lg-2">
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 col-lg-8 text-center">
                <ol class="breadcrumb offer">
                    <li>
                        <div class="thumbnail sell-cards-thumb">
                            <p style="margin-bottom : 5px">
                                <i class="fa fa-check fa-3x sell-cards-step-icon"></i></p>
                            <div class="caption offer">
                                <p class="sell-cards-step-txt">1.Get Offer</p>
                            </div>
                        </div>
                    </li>
                    <li class="offer ">
                        <div class="thumbnail sell-cards-thumb">
                            <p style="margin-bottom : 5px">
                                <i class="fa fa-ellipsis-h fa-3x sell-cards-step-dot"></i>
                                <i class="fa fa-ellipsis-h fa-3x sell-cards-step-dot"></i>
                            </p>
                            <div class="caption offer">
                                <p class="sell-cards-step-txt">&nbsp;</p>
                            </div>
                        </div>
                    </li class="">
                    <li class="offer">
                        <div class="thumbnail sell-cards-thumb">
                            <p style="margin-bottom : 5px">
                                <i class="fa fa-check fa-3x sell-cards-step-icon"></i></p>
                            <div class="caption offer">
                                <p class="sell-cards-step-txt">2.Card Info</p>
                            </div>
                        </div>
                    </li>
                    <li class="offer ">
                        <div class="thumbnail sell-cards-thumb">
                            <p style="margin-bottom : 5px">
                                <i class="fa fa-ellipsis-h fa-3x sell-cards-step-dot"></i>
                                <i class="fa fa-ellipsis-h fa-3x sell-cards-step-dot"></i>
                            </p>
                            <div class="caption offer">
                                <p class="sell-cards-step-txt">&nbsp;</p>
                            </div>
                        </div>
                    </li>
                    <li class="offer " style="margin-left: -20px;">
                        <div class="thumbnail sell-cards-thumb">
                            <p style="margin-bottom : 5px">
                                <i class="fa fa-users fa-3x sell-cards-step-icon"></i></p>
                            <div class="caption offer">
                                <p class="sell-cards-step-txt">3.Customer Info</p>
                            </div>
                        </div>
                    </li>
                </ol </div>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12 col-lg-2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div ng-show="!isGuest" class="col-md-8">
                <h2 class="text-center"><strong>ALMOST DONE!</strong></h2>
                <hr class="solid">
                <h4 class="heading-primary"> <strong>Customer's Information</strong></h4>
                <ul class="list ">
                    <li><strong>Username:</strong> {{sellingCards.billingUser.username}}
                    </li>
                    <li><strong>Email:</strong> {{sellingCards.billingUser.email}}</li>
                </ul>
                <hr>
                <h4 class="heading-primary"> <strong>Customer's Address</strong></h4>
                <ul class="list  mt-xlg">
                    <li><strong>Address:</strong> {{ (sellingCards.billingUser.address ? sellingCards.billingUser.address : 'NOT SET')}}</li>
                    <li><strong>City</strong> {{ (sellingCards.billingUser.city ? sellingCards.billingUser.city : 'NOT SET')}}</li>
                    <li><strong>State:</strong> {{ (sellingCards.billingUser.state ? sellingCards.billingUser.state : 'NOT SET')}}</li>
                    <li><strong>Zipcode:</strong> {{ (sellingCards.billingUser.zipcode ? order.billingUser.zipcode : 'NOT SET')}}</li>
                </ul>
                <hr>
                <h4 class="heading-primary"> <strong>Cards review</strong></h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                                Merchant
                            </th>
                            <th>
                                Card Number
                            </th>
                            <th>
                                Card Pin
                            </th>
                            <th ng-show="isDealer">
                                Card Dealer Code
                            </th>
                            <th>
                                Your Offer
                            </th>
                            <th>
                                Payout
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="card in sellingCards.cards track by $index">
                            <td>{{$index + 1}}</td>
                            <td style="vertical-align: middle">
                                <img height="30px" ng-src="/img/cards/{{card.store_name}}.jpg" alt="">
                            </td>
                            <td>
                                {{card.store_name | storename | titlecase }} (${{card.value}})
                            </td>
                            <td>
                                {{card.number}}
                            </td>
                            <td>
                                {{card.pin}}
                            </td>
                            <td ng-show="isDealer">
                                {{card.dealer_code}}
                            </td>
                            <td>
                                {{card.gogo_buy*card.value/100 | number:2}}
                            </td>
                            <td>
                                {{card.gogo_buy}}%
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <h4 class="heading-primary"> <strong>Total Cards</strong></h4>
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong>Total Face Value  </strong>
                            </td>
                            <td>
                                ${{totalFaceValue | number : 2}}
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong>Total Cards For Sell  </strong>
                            </td>
                            <td>
                                {{sellingCards.cards.length}}
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong> Average Payout </strong>
                            </td>
                            <td>
                                {{averagePayout | number:2}}%
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong>Total Selling Price  </strong>
                            </td>
                            <td>
                                <h4 style="color : #08C">${{total}}</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a ng-click='sellCards()' class="btn btn-primary btn-lg pull-right">Sell Cards</a>
            </div>
            <div ng-show="isGuest" class="col-md-8">
                <form role="form" ng-submit="sellCards()">
                    <h2 class="text-center"><strong>ALMOST DONE!</strong></h2>
                    <hr class="solid">
                    <h4 class="heading-primary"> <strong>Customer's Information</strong></h4>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Username</label>
                                <input ng-model="sellingCards.billingUser.username" type="text" value="" class="form-control" ng-required="true">
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <label>First Name</label>
                                <input ng-model="sellingCards.billingUser.first_name" type="text" value="" class="form-control" ng-required="true">
                            </div>
                            <div class="col-md-6">
                                <label>Last Name</label>
                                <input ng-model="sellingCards.billingUser.last_name" type="text" value="" class="form-control " ng-required="true">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Email</label>
                                <input ng-model="sellingCards.billingUser.email" type="email" value="" class="form-control" ng-required="true">
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Confirm Email</label>
                                <input ng-model="sellingCards.billingUser.email2" type="email" value="" class="form-control" ng-required="true">
                            </div>
                            
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <label>Password</label>
                                <input ng-model="sellingCards.billingUser.password" type="password" value="" class="form-control" ng-required="true">
                            </div>
                            <div class="col-md-6">
                                <label>Confirm Password</label>
                                <input ng-model="sellingCards.billingUser.password2" type="password" value="" class="form-control" ng-required="true">
                            </div>
                            
                        </div>
                    
                    </div>
                    <hr>
                    <h4 class="heading-primary"> <strong>Customer's Address</strong></h4>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Address</label>
                                <input ng-model="sellingCards.billingUser.address" type="text" value="" class="form-control" ng-required="true">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Address 2</label>
                                <input ng-model="sellingCards.billingUser.address2" type="text" value="" class="form-control" ng-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-4">
                                <label>City</label>
                                <input ng-model="sellingCards.billingUser.city" type="text" value="" class="form-control" ng-required="true">
                            </div>
                            <div class="col-md-4">
                                <label>State</label>
                                <input ng-model="sellingCards.billingUser.state" type="text" value="" class="form-control" ng-required="true">
                            </div>
                            <div class="col-md-4">
                                <label>Zipcode</label>
                                <input ng-model="sellingCards.billingUser.zipcode" type="text" value="" class="form-control" ng-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Phone</label>
                                <input ng-model="sellingCards.billingUser.phone" type="text" value="" class="form-control" ng-required="true">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h4 class="heading-primary"> <strong>Cards review</strong></h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                    Merchant
                                </th>
                                <th>
                                    Card Number
                                </th>
                                <th>
                                    Card Pin
                                </th>
                                <th>
                                    Your Offer
                                </th>
                                <th>
                                    Payout
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="card in sellingCards.cards track by $index">
                                <td>{{$index + 1}}</td>
                                <td style="vertical-align: middle">
                                    <img height="30px" ng-src="/img/cards/{{card.store_name}}.jpg" alt="">
                                </td>
                                <td>
                                    {{card.store_name | storename | titlecase }} (${{card.value}})
                                </td>
                                <td>
                                    {{card.number}}
                                </td>
                                <td>
                                    {{card.pin}}
                                </td>
                                <td>
                                    {{card.gogo_buy*card.value/100 | number:2}}
                                </td>
                                <td>
                                    {{card.gogo_buy}}%
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <h4 class="heading-primary"> <strong>Total Cards</strong></h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td style="vertical-align: middle">
                                    <strong>Total Face Value  </strong>
                                </td>
                                <td>
                                    ${{totalFaceValue | number : 2}}
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle">
                                    <strong>Total Cards For Sell  </strong>
                                </td>
                                <td>
                                    {{sellingCards.cards.length}}
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle">
                                    <strong> Average Payout </strong>
                                </td>
                                <td>
                                    {{averagePayout | number:2}}%
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle">
                                    <strong>Total  </strong>
                                </td>
                                <td>
                                    <h4 style="color : #08C">${{total}}</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div>
                        <input type="checkbox" ng-model="agreed" ng-required='true'> I hereby certify I have read <a href="/terms-and-conditions">terms and conditions</a>  and agree 
                    </div>


                    <input type="submit" class="btn btn-primary btn-lg pull-right" value="Sell Cards">
                </form>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>
