<div role="main" class="main">
    <section class="page-header page-header-light page-header-more-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1> Your Receipt <span>Here is your receipt. A confirmation email is on the way!</span></h1>
                    <ul class="breadcrumb breadcrumb-valign-mid">
                        <li><a href="/">Home</a></li>
                        <li class="active">Receipt #{{sellingCards.id}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-12 col-xs-12 col-lg-2">
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 col-lg-8 text-center">
                <ol class="breadcrumb offer">
                    <li>
                        <div class="thumbnail sell-cards-thumb">
                            <p style="margin-bottom : 5px">
                                <i class="fa fa-check fa-3x sell-cards-step-icon"></i></p>
                            <div class="caption offer">
                                <p class="sell-cards-step-txt">1.Get Offer</p>
                            </div>
                        </div>
                    </li>
                    <li class="offer ">
                        <div class="thumbnail sell-cards-thumb">
                            <p style="margin-bottom : 5px">
                                <i class="fa fa-ellipsis-h fa-3x sell-cards-step-dot"></i>
                                <i class="fa fa-ellipsis-h fa-3x sell-cards-step-dot"></i>
                            </p>
                            <div class="caption offer">
                                <p class="sell-cards-step-txt">&nbsp;</p>
                            </div>
                        </div>
                    </li class="">
                    <li class="offer">
                        <div class="thumbnail sell-cards-thumb">
                            <p style="margin-bottom : 5px">
                                <i class="fa fa-check fa-3x sell-cards-step-icon"></i></p>
                            <div class="caption offer">
                                <p class="sell-cards-step-txt">2.Card Info</p>
                            </div>
                        </div>
                    </li>
                    <li class="offer ">
                        <div class="thumbnail sell-cards-thumb">
                            <p style="margin-bottom : 5px">
                                <i class="fa fa-ellipsis-h fa-3x sell-cards-step-dot"></i>
                                <i class="fa fa-ellipsis-h fa-3x sell-cards-step-dot"></i>
                            </p>
                            <div class="caption offer">
                                <p class="sell-cards-step-txt">&nbsp;</p>
                            </div>
                        </div>
                    </li>
                    <li class="offer " style="margin-left: -20px;">
                        <div class="thumbnail sell-cards-thumb">
                            <p style="margin-bottom : 5px">
                                <i class="fa fa-check fa-3x sell-cards-step-icon"></i></p>
                            <div class="caption offer">
                                <p class="sell-cards-step-txt">3.Customer Info</p>
                            </div>
                        </div>
                    </li>
                </ol </div>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12 col-lg-2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h2 class="text-center"><strong>THANK YOU! </strong></h2>
                <p class="pull-right">Sold on {{sellingCards.created_date | date: 'MM/dd/yyyy ' }}</p>

                </br>
                </br>

                <hr class="solid">
                <h4 class="heading-primary"> <strong>Customer's Information</strong></h4>
                <ul class="list ">
                    <li><strong>Username:</strong> {{sellingCards.billingUser.username}}</li>
                    <li><strong>Email:</strong> {{sellingCards.billingUser.email}}</li>
                </ul>
                <hr>
                <h4 class="heading-primary"> <strong>Customer's Address</strong></h4>
                <ul class="list  mt-xlg">
                    <li><strong>Address:</strong> {{ (sellingCards.billingUser.address ? sellingCards.billingUser.address : 'NOT SET')}}</li>
                    <li><strong>City</strong> {{ (sellingCards.billingUser.city ? sellingCards.billingUser.city : 'NOT SET')}}</li>
                    <li><strong>State:</strong> {{ (sellingCards.billingUser.state ? sellingCards.billingUser.state : 'NOT SET')}}</li>
                    <li><strong>Zipcode:</strong> {{ (sellingCards.billingUser.zipcode ? order.billingUser.zipcode : 'NOT SET')}}</li>
                </ul>
                <hr>
                <h4 class="heading-primary"> <strong>Cards review</strong></h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                                Merchant
                            </th>
                            <th>
                                Card Number
                            </th>
                            <th>
                                Card Pin
                            </th>

                            <th>
                                Your Offer
                            </th>
                            
                            <th>
                                Payout
                            </th>
                            <th>
                                Pay By
                            </th>

                            
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="card in sellingCards.cards track by $index">
                            <td>{{$index + 1}}</td>
                            <td style="vertical-align: middle">
                                <img height="30px" ng-src="/img/cards/{{card.store_name}}.jpg" alt="">
                            </td>
                            <td>
                                {{card.store_name | storename | titlecase}} (${{card.value}})
                            </td>
                            <td>
                                {{card.number}}
                            </td>
                            <td>
                                {{card.pin}}
                            </td>
                            
                            <td>
                                ${{card.bought_value | number:2}}
                            </td>
                            <td>
                                {{card.payout |number:2}}%
                            </td>
                            <td>
                                {{card.pay_by | titlecase}}
                            </td>
                            
                            
                        </tr>
                    </tbody>
                </table>
                <hr>
                <h4 class="heading-primary"> <strong>Total Cards</strong></h4>
                <table class="table">
                    <tbody>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong>Total Face Value  </strong>
                            </td>
                            <td>
                                ${{totalFaceValue | number:2}}
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong>Total Cards For Sell  </strong>
                            </td>
                            <td>
                                {{sellingCards.cards.length}}
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle">
                                <strong> Average Payout </strong>
                            </td>
                            <td>
                                {{averagePayout | number:2}}%
                            </td>
                        </tr>
                        
                        <tr>
                            <td style="vertical-align: middle">
                                <strong>Total Selling Price  </strong>
                            </td>
                            <td>
                                <h4 style="color : #08C">${{total | number:2}}</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row text-center">
                    <a ng-show="!isGuest" ng-click='viewSellingHistory()' class="btn btn-primary btn-lg text-center">VIEW YOUR SELLING HISTORY</a>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>
